body{
    background-color: antiquewhite;
    
}

.img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.content{
    position: relative;
}

#img{
    padding-bottom: 20%;
}

#main{
    overflow: hidden;
    position: relative;
    background-color: white;
}
#dropdown{
    padding-top: 3%;
}
