
  body {
    background-color: #00235B;
    font-family: Arial, sans-serif;
    color: #DFD6FF;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #E2E8FF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #00184D;
    margin-bottom: 30px;
    font-size: 32px;
  }

  .steps {
    color: brown;
    display: flex;
    flex-direction: column;
  }

  .step {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFDD83;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .step h2 {
    color: #00184D;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .step p {
    font-size: 18px;
    line-height: 1.5;
  }
